<div class="row-fluid">
	<!-- block -->
	<div class="block">
		<div class="navbar navbar-inner block-header">
			<div class="muted pull-left">新增主分类</div>
		</div>
		<div class="block-content collapse in">
			<div class="span12">
				<%= form_for [:backend,@main_class], html: { class: 'form-horizontal' } do |f| %>
				<fieldset>	
					<div class="control-group" style="color:red">
						<%= f.error_messages %>
					</div>
					<div class="control-group">
						<label class="control-label" for="typeahead">主分类名称</label>
						<div class="controls">
							<%= f.text_field :name %>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">展示位置</label>
						<div class="controls">
							<%=  f.select :position, main_class_conf["main_class_type"].collect { |p| [p[1],p[0]] }, include_blank: '--请选择--' %>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="typeahead">URL</label>
						<div class="controls">
							<%= f.text_field :url %>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="fileInput">展示图片</label>
						<div class="controls">
							<%= f.file_field :pic_url, class: 'input-file uniform_on' %>
							<% if @main_class.pic_url.present? %>
							<%= link_to '点击查看图片效果', @main_class.pic_url.url, target: '_blank' %>
							<% end %>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">备注</label>
						<div class="controls">
							<%= f.text_area :desc, class: 'input-xlarge textarea', placeholder: '描述', style: 'width: 810px; height: 200px' %>
						</div>
					</div>
					<div class="form-actions">
						<%= f.submit '提交', class: 'btn' %>
						<%= link_to '返回', backend_main_classes_path,  class: 'btn' %>
					</div>
				</fieldset>
				<% end %>
			</div>
		</div>
	</div>
	<!-- /block -->
</div>
<script type="text/javascript">
	$(function(){
		setTimeout(function(){
$(".uniform_on").uniform();
},1000);
	});
</script>