<div class="row-fluid">
	<!-- block -->
	<div class="block">
		<div class="navbar navbar-inner block-header">
			<div class="muted pull-left">主分类列表</div>
		</div>
		<div class="block-content collapse in">
			<div class="span12">
				<div class="table-toolbar">
					<div class="btn-group">
						<a href="<%= new_backend_main_class_path %>"><button class="btn btn-success">创建主分类<i class="icon-plus icon-white"></i></button></a>				
					</div>
				</div>
				
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
					<thead>
						<tr>
							<th>主分类名称</th>
							<th>SID</th>
							<th>展示位置</th>
							<th>展示图片</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<% @main_classes.each do |mc| %>
						<tr>
							<td><%= mc.name %></td>
							<td><%= mc.sid %></td>
							<td><%= mc.position == "1" ? main_class_conf["main_class_type"][1] : main_class_conf["main_class_type"][2] %></td>
							<td class="center"><%= image_tag(mc.pic_url, size: "40x35") %></td>
							<td>
								<%= link_to '编辑', edit_backend_main_class_path(mc) %>
								<%= link_to '删除', backend_main_class_path(mc), method: :delete, data: { confirm: "确定删除吗?" } %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
	
			<div style="float:right;margin-top: 0px">
				<%= paginate @main_classes %>
			</div>


		</div>
	</div>
	<!-- /block -->
</div>