<%= render 'frontent/shared/meta' %>
<%= stylesheet_link_tag 'frontent/cate', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'frontent/iscroll', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'frontent/index_other', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'frontent/index_other2', media: 'all', 'data-turbolinks-track' => true %>

<%= csrf_meta_tags %>
</head>
<body>
<div class="banner">
    <div id="wrapper" style="overflow: hidden;" >
        <div id="scroller" >
            <ul id="thelist">
                <li><a href="javascript:void(0)"><img src="img/first.jpg"></a></li>
            </ul>
        </div>
    </div>
    <div class="clr"></div>
</div>
<div id="insert1">
</div>
<ul class="mainmenu">
    <% @results.each do |t| %>
    <li>
        <% case t.name %>
        <% when '家装案例','工装案例','实景案例' %>
        <a href="beetle/secondview?sid=<%= t.id %>">
            <% when '设计师团队' %>
        <a href="beetle/stylist?sid=<%= t.id %>">
            <% when '家装宝典' %>
        <a href="beetle/classcontent?sid=<%= t.id %>">
            <% else %>
            <a href="<%= t.url %>">
                <% end %>
                <%= image_tag t.pic_url, alt: t.name %>
                <p>
                    <b>
                    <%= t.name %>
                    </b>
                    <span>
                        <%= t.name %>
                    </span>
                </p>
            </a>
        </li>
        <% end %>
    </ul>

    <%= render 'frontent/shared/footer' %>

    <script>
    var count = document.getElementById("thelist").getElementsByTagName("img").length;
    for (i = 0; i < count; i++) {
    document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
    }
    document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
    window.onresize = function () {
    for (i = 0; i < count; i++) {
    document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
    }
    document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
    }
    </script>
</body>
</html>