<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>甲壳虫设计</title>
    <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'bootstrap-responsive.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'DT_bootstrap', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'backend', 'data-turbolinks-track' => true  %>
    <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'scripts', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'DT_bootstrap', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'jquery-1.9.1.min', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%= render 'backend/shared/menu' %>
        
    <% unless notice.nil? %>
      <div id="div_notice" style="background-color: gray;margin-top:0px;padding-top: 0px;width:200px;margin-left:50%;text-align: center">
        <div id='inner_notice'><%= notice %></div></div>
    <% end %>

    <div class="container-fluid">
      <div class="row-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>