<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="Keywords" content="设计、装饰设计、甲壳虫设计、甲壳虫装饰设计、合肥甲壳虫设计、合肥甲壳虫装饰设计" />
        <meta name="Description" content="甲壳虫设计" />
        <title>甲壳虫设计</title>
        <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta charset="utf-8"> 

        <%= stylesheet_link_tag 'frontent/cate', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag 'frontent/iscroll', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag 'frontent/index_other', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag 'frontent/index_other2', media: 'all', 'data-turbolinks-track' => true %>

    </head>

    <body>

        <%= yield %>

        <div id="insert2"></div>
        <div style="display:none"> </div>
        <div class="copyright">
            ©2014-2015 甲壳虫设计版权所有
        </div>
    </body>
</html>